@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden ;

}

/*NAVBAR-INICIO*//*NAVBAR-INICIO*/

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    position: relative;
    width: 1440px;
    height: 742px;
    background: #2B63D9;
}

.section-One{
    position: absolute;
    top: 29px;
    left: 117px;
}
.nav-One img {
    cursor: pointer;
}

.nav-One a{
    position: relative;
    text-decoration: none;
    margin-left: 69px;
    top: -7px;
    width: 43px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*EFEITO BUTTON GET START*/
.nav-One a:hover{
    color: cadetblue;
}
.nav-One a:active{
    opacity: 0.5;
}

/*FIM DOS EFEITOS*/

.sign-up {
    width: 55px;
    height: 22px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 6px;
    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    left: 150px;
}
/*EFEITO SIGN-UP*/
.sign-up:hover{
    background-color: red;
}
.sign-up:active{
    opacity: 0.5;
}
/*FIM DOS EFEITOS*/

.login{
    width: 44px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    left: 190px;
}
/*EFEITO LOGIN*/
.login:hover{
    color: red;
}
.login:active{
    opacity: 0.5;
}
/*FIM DOS EFEITOS*/


/*NAVBAR-CONTEUDO*//*NAVBAR-CONTEUDO*/

.navbar-conteudo {
    display: inline-block;
    position: absolute;
    top: 164px;
    left: 112px;
    
}

.navbar-conteudo h1 {
    width: 624px;
    height: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 24px;
    /*ANIMAÇÃO*/
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.p1 {
    width: 624px;
    height: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #B1CCFB;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin-bottom: 44px;
    /*ANIMAÇÃO*/
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.navbar-conteudo-button {
    width: 85px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 6px;
    width: 121px;
    height: 46px;
    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 80px;
    /*ANIMAÇÃO*/
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

/*EFEITO BUTTON GET START*/
.navbar-conteudo-button:hover{
    background-color: red;
}
.navbar-conteudo-button:active{
    opacity: 0.5;
}

/*FIM DOS EFEITOS*/

.p2 {
    width: 624px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-bottom: 16px;
}

.redes-navOne{
    width: 624px;
    height: 28px;
}

.foto-conteudo-navbarOne{
    position: relative;
    top: -540px;
    left: 687px;
}


/*2 SECTION*//*2 SECTION*/

.container-section2 {
    position: relative;
    left: 300px;
    top: 64px;
      /*ANIMAÇÃO*/
      animation: bounce; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s; /* don't forget to set a duration! */
    
}

.container-section2 h3{
    width: 800px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.container-section2 p {
    width: 800px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.container-cards{
    display: inline-block;
      /*ANIMAÇÃO*/
      animation: bounce; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s; /* don't forget to set a duration! */
}
/*EFEITO*/
.container-cards button a:hover{
    color: red;
}


/*CARD1*/

.card-1 {
    display: inline-block;

    position: relative;
    top: 208px;
    left: 112px;
}

.card-1 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
}


.card-1 p {
    width: 324px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.card-1 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
}

.card-1 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-1 button a img{
    position: absolute;
    bottom: 4px;
    left: 91px;
}

/*CARD2*/

.card-2 {
    display: inline-block;
    position: relative;
    top: 208px;
    left: 112px;
    margin-left: 32px;
}

.card-2 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
}
.card-2 img{
    margin-bottom: 7px;
}
.card-2 p {
    width: 324px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.card-2 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
}

.card-2 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-2 button a img{
    position: absolute;
    bottom: -2px;
    left: 91px;
}

/*CARD3*/

.card-3 {
    display: inline-block;
    position: relative;
    top: 208px;
    left: 112px;
    margin-left: 32px;
}

.card-3 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
}
.card-3 img{
    margin-bottom: 7px;
}
.card-3 p {
    width: 324px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.card-3 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
}

.card-3 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-3 button a img{
    position: absolute;
    bottom: -2px;
    left: 91px;
}

/*CARD4*/

.card-4 {
    display: inline-block;
    position: relative;
    top: 208px;
    left: 112px;
    margin-top: 64px;
    cursor: pointer;
}
.card-4 {
    cursor: pointer;
}

.card-4 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
}
.card-4 img{
    margin-bottom: 7px;
}
.card-4 p {
    width: 324px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.card-4 button {
    cursor: pointer;

    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
}

.card-4 button a{
    cursor: pointer;
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-4 button a img{
    position: absolute;
    bottom: -2px;
    left: 91px;
}

/*CARD5*/

.card-5 {
    display: inline-block;
    position: relative;
    top: 208px;
    left: 112px;
    margin-left: 32px;
}

.card-5 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
}
.card-5 img{
    margin-bottom: 7px;
}
.card-5 p {
    width: 304px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.card-5 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
}

.card-5 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-5 button a img{
    position: absolute;
    bottom: -2px;
    left: 91px;
}

/*CARD6*/


.card-6 {
    display: inline-block;
    position: relative;
    top: 208px;
    left: 112px;
    margin-left: 32px;
}

.card-6 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
}
.card-6 img{
    margin-bottom: 7px;
}
.card-6 p {
    width: 334px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.card-6 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;

}

.card-6 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.card-6 button a img{
    position: absolute;
    bottom: -2px;
    left: 91px;
}

/*FIM DOS CARDS!!!*/


/*SECTION 3*/

.container-section3 {
    position: relative;
    left: 280px;
    top: 328px;
}

.container-section3 h3{
    width: 800px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.container-section3 p {
    width: 820px;
    height: 18px;;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


/*CARDS SECTION 3*/
.card-section3{
    position: relative;
    top: 205px;

}
 /*EFEITO*/
.card-section3 button a:hover{
    color: red;
}


/*CARD1 SEC3*/

.card1-section3 {
    position: relative;
    top: 208px;
    left: 112px;
}

.icone-section3 {
    width: 48px;
    height: 48px;
    position: relative;
    left: -58px;
    top: 62px;
    margin-right: 16px;
    margin-left: 60px;
}

.card1-section3 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
    margin-left: 56px;
    position: relative;
    top: 14px;
}


.card1-section3 p {
    width: 370px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 10px;
    position: relative;
    left: 56px;
}

.card1-section3 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
    position: relative;
    left: 56px;
}

.card1-section3 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card1-section3 button a img{
    position: absolute;
    bottom: 4px;
    left: 91px;
}

/*CARD2 SEC3*/

.card2-section3 {
    position: relative;
    top: 208px;
    left: 112px;
    margin-top: 32px;
}

.icone-section3 {
    width: 48px;
    height: 48px;
    position: relative;
    left: -58px;
    top: 62px;
    margin-right: 16px;
    margin-left: 60px;
}

.card2-section3 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
    margin-left: 56px;
    position: relative;
    top: 14px;
}


.card2-section3 p {
    width: 370px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 10px;
    position: relative;
    left: 56px;
}

.card2-section3 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
    position: relative;
    left: 56px;
}

.card2-section3 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card2-section3 button a img{
    position: absolute;
    bottom: 4px;
    left: 91px;
}


/*CARD3 SEC3*/

.card3-section3 {
    position: relative;
    top: 208px;
    left: 112px;
    margin-top: 32px;
}

.icone-section3 {
    width: 48px;
    height: 48px;
    position: relative;
    left: -58px;
    top: 62px;
    margin-right: 16px;
    margin-left: 60px;
}

.card3-section3 h1{
    width: 384px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
    margin-left: 56px;
    position: relative;
    top: 14px;
}


.card3-section3 p {
    width: 370px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 10px;
    position: relative;
    left: 56px;
}

.card3-section3 button {
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: transparent;
    position: relative;
    left: 56px;
}

.card3-section3 button a{
    text-decoration: none;
    width: 82px;
    height: 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #437EF7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card3-section3 button a img{
    position: absolute;
    bottom: 4px;
    left: 91px;
}

/*IMAGEM SEC 3*/
.moveis{
    position: absolute;
    width: 560px;
    height: 560px;
    left: 668px;
    top: 261px;
}

/*FIM SEC 3*//*FIM SEC 3*/



/*SECTION 4*//*SECTION 4*/

.meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    position: relative;
    width: 1440px;
    height: 742px;
    background: #151B28;
    top: 516px;
    
}

.imagem-sec4{
    position: absolute;
    width: 560px;
    height: 560px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    left: 102px;
    margin-top: -154px;
}

.card-section4{
    position: absolute;
    left: 668px;
    top: 2320px;
    margin-left: 80px;
}

/*EFEITOS*/
.card-section4 button a:hover{
    color: red;
}

.card-section4 h1{
    color: white;
}

/*FIM SEC 4*//*FIM SEC 4*/

/*SECTION 5*//*SECTION 5*/


.blog {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    width: 1100px;
    height: 416px;
    background: #F8F9FB;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 1;
    top: 3400px;
    left: 112px;
}

.logo2 {
    position: relative;
    margin-left: 486px;
    margin-bottom: 32px;
}

.blog h1{
    width: 844px;
    height: 114px;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 128px;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 280px;
    left: 480px;
}

.nome{
    width: 74px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: #272D37;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 370px;
    left: 560px;
}

.empresa{
    width: 96px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #5F6D7E; 
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 390px;
    left: 560px;
}

/*SECTION 6*//*SECTION 6*/


.container-section6 {
    position: relative;
    left: 280px;
    top: 1228px;
}

.container-section6 h3{
    width: 800px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.container-section6 p {
    width: 800px;
    height: 18px;;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/*SECTION 6 CARDS*//*SECTION 6 CARDS*/

.container6-cards{
    display: inline-block;
    position: relative;
    top: 1500px;
    left: 50px;
}

/*CARD1 SEC6*/
.foto1{
    width: 384px;
    height: 300px;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 24px;

}

.card1-sec6 h1{
    width: 384px;
    height: 60px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;

}

.card1-sec6 p{
    width: 304px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 40px;

}

.Andrew1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.nomedele1{
    display: inline-block;
    width: 91px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    order: 0;
    flex-grow: 0;
    color: #272D37;
    /*POSIÇÃO*/
    top: -25px;
    position: relative;
    left: 5px;
}

.empresa1 {
    display: inline-block;
    width: 30px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    left: -90px;
}

.dataOne {
    display: inline-block;
    width: 220px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    flex-grow: 1;
    /*POSIÇÃO*/
    position: relative;
    left: -300px;
    top: -10px;
}

/*CARD2 SEC6*/

.card2-sec6{
    display: inline-block;
    left: 500px;
    position: relative;
    top: -651px;
    margin-left: -72px;
  
}

.foto2{
    display: inline-block;
    width: 384px;
    height: 300px;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 24px;

}

.card2-sec6 h1{
    width: 384px;
    height: 60px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;

}

.card2-sec6 p{
    width: 324px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 40px;

}

.David {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.nomedele2{
    display: inline-block;
    width: 91px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    order: 0;
    flex-grow: 0;
    color: #272D37;
    /*POSIÇÃO*/
    top: -25px;
    position: relative;
    left: 5px;
}

.empresa2 {
    display: inline-block;
    width: 30px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    left: -90px;
}

.dataTwo {
    display: inline-block;
    width: 220px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    flex-grow: 1;
    /*POSIÇÃO*/
    position: relative;
    left: -300px;
    top: -10px;
}

/*CARD3 SEC6*/


.card3-sec6{
    display: inline-block;
    left: 300px;
    position: relative;
    top: -651px;
    margin-left: -62px;
  
}

.foto3{
    display: inline-block;
    width: 384px;
    height: 300px;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 24px;

}

.card3-sec6 h1{
    width: 384px;
    height: 60px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;

}

.card3-sec6 p{
    width: 304px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 40px;

}

.Alex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.nomedele3{
    display: inline-block;
    width: 91px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    order: 0;
    flex-grow: 0;
    color: #272D37;
    /*POSIÇÃO*/
    top: -25px;
    position: relative;
    left: 5px;
}

.empresa3 {
    display: inline-block;
    width: 30px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    left: -90px;
}

.dataThree {
    display: inline-block;
    width: 220px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    flex-grow: 1;
    /*POSIÇÃO*/
    position: relative;
    left: -300px;
    top: -10px;
}


/*SECTION 7*//*SECTION 7*//*SECTION 7*/

.container-section7 {
    position: relative;
    left: 280px;
    top: 1228px;
    margin-top: -258px;
}

.container-section7 h3{
    width: 800px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.container-section7 p {
    width: 800px;
    height: 18px;;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #5F6D7E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 108px;
}

.container-section7 img {
    position: relative;
    left: -250px;
}

/*SECTION 8*//*SECTION 8*//*SECTION 8*/

.container-section8{
    position: relative;
    left: 280px;
    top: 1628px;
    margin-top: -258px;
}

.container-section8 a{
    width: 146px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #437EF7;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    position: relative;
    left: 315px;
    margin-bottom: 8px;
}

.container-section8  h3 {
    width: 752px;
    height: 84px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #272D37;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 32px;

}

.container-section8 img{
    position: relative;
    left: 160px;
}

/*INPUT*//*INPUT*//*INPUT*/
.container-section8 form{
    position: relative;
    left: 130px;
    margin-bottom: 34px;
}

.input-sec8{
    box-sizing: border-box;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 424px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #DAE0E6;
    border-radius: 6px 0px 0px 6px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.button-sec8 {
    /* Button */
    cursor: pointer;
    position: absolute;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 46px;
    background: #437EF7;
    border-radius: 0px 6px 6px 0px;
    border: none;
    flex: none;
    order: 1;
    flex-grow: 0;

    /* Text */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;


}

/*EFEITO NO INPUT*//*EFEITO NO INPUT*/
.button-sec8:hover{
    background-color: red;
}

.button-sec8:active{
    opacity: 0.5;
}

/*SECTION 9 FINAL*//*SECTION 9 FINAL*/

footer{
    position: relative;
}

/*BACKGROUND*/
.final{
    /* Footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    position: relative;
    width: 1440px;
    height: 404px;
    background: #151B28;
    position: relative;
    top: 1700px;
}

/*CONTEUDO 1*/

.conteudo1 {
    position: absolute;
    top: 1700px;
    left: 117px;
    margin-top: 70px;
}

.conteudo1 img{
    margin-bottom: 22px;
}

.conteudo1 p{
    width: 247px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #A5ACBA;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/*CONTEUDO 2*/

.conteudo2 {
    position: absolute;
    top: 1700px;
    left: 457px;
    margin-top: 70px;
}
.conteudo2 h2{
    width: 81px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #F9F9F9;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 24px;
}

.conteudo2 a{
    width: 247px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #A5ACBA;
    flex-direction: column;
    text-decoration: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    position: relative;
    margin-top: -35px;
    top: 30px;
}

/*EFEITOS CONTEUDO2*/
.conteudo2 a:hover{
    color: red;
}
/*CONTEUDO 3*/

.conteudo3 {
    position: absolute;
    top: 1700px;
    left: 707px;
    margin-top: 70px;
}
.conteudo3 h2{
    width: 81px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #F9F9F9;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 24px;
}

.conteudo3 a{
    width: 247px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #A5ACBA;
    flex-direction: column;
    text-decoration: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    position: relative;
    margin-top: -35px;
    top: 30px;
}

/*EFEITOS CONTEUDO3*/
.conteudo3 a:hover{
    color: red;
}

/*CONTEUDO 4*/

.conteudo4 {
    position: absolute;
    top: 1700px;
    left: 907px;
    margin-top: 70px;
}
.conteudo4 h2{
    width: 174px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #F9F9F9;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 24px;
}

.conteudo4 p {
    width: 302px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #A5ACBA;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 16px;

}

/*INPUT FINAL*//*INPUT*//*INPUT FINAL*/
.conteudo4 form{
    position: relative;
    margin-bottom: 34px;
}

.input-sec9{
    box-sizing: border-box;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 214px;
    height: 46px;
    background: #2C3444;
    border: 1px solid #2E3545;
    border-radius: 6px 0px 0px 6px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.button-sec9 {
    /* Button */
    cursor: pointer;
    position: absolute;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 46px;
    background: #437EF7;
    border-radius: 0px 6px 6px 0px;
    border: none;
    flex: none;
    order: 1;
    flex-grow: 0;

    /* Text */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;


}

/*EFEITO NO INPUT*//*EFEITO NO INPUT*/
.button-sec9:hover{
    background-color: red;
}

.button-sec9:active{
    opacity: 0.5;
}


/*FIm*//*FIm*//*FIm*/
.conteudo5 {
    position: absolute;
    top: 1950px;
    left: 60px;
    margin-top: 70px;
}

.traço {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 0px;
    gap: 10px;
    width: 1216px;
    height: 48px;
    border-top: 1px solid #2E3545;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.conteudo5 p {
    width: 348px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A5ACBA;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    left: 45px;
}

.conteudo6 {
    position: absolute;
    top: 1995px;
    left: 1060px;
    margin-top: 70px;
}

.conteudo6 img{
    cursor: pointer;
    margin-right: 24px;
}

